@use 'common'

%hidden-input
  transform: scale(0)
  opacity: 0
  position: absolute

%zebra-striping
  &:nth-child(odd)
    background-color: #f9ba66

  &:nth-child(even)
    background-color: scale-color(#f9ba66, $lightness: 25%)

%square-button
  @extend %button-unstyled
  background-size: contain

  &:hover
    @extend %hover-scale

@mixin square-button($name, $width)
  .#{to-lower-case($name)}
    @extend %square-button
    width: $width
    height: $width
    background-image: common.ui-img($name)

@include square-button(Ok, 2.5rem)
@include square-button(Cancel, 2.5rem)
@include square-button(Edit, 1.5rem)

@include common.icon-img(Warning, UI)
@include common.icon-img(Error, UI)


html
  scroll-snap-type: y mandatory

header
  scroll-snap-align: start

$column-gap: 1rem
$visualization-min-width: 37.5rem
$settings-min-width: 42.5rem
$two-column-min-width: $visualization-min-width + $settings-min-width + 3 * $column-gap
$one-column-min-width: max($visualization-min-width, $settings-min-width) + 2 * $column-gap
$two-column-min-height: calc(100vh - 2 * $column-gap)
$one-column-min-height: calc(max($settings-min-width, (100vh - 3 * $column-gap) / 2))

main
  scroll-snap-align: start

  height: 100vh
  display: grid
  grid-template-columns: minmax($visualization-min-width, 1fr) minmax($settings-min-width, 1fr)
  gap: $column-gap
  padding: $column-gap
  box-sizing: border-box

  & > section
    display: grid
    grid-template-rows: max-content
    overflow: hidden

footer
  scroll-snap-align: end

#app-error
  @extend %border-box
  grid-column: span 2
  display: flex
  flex-direction: column
  align-items: center
  row-gap: 1em
  padding: 2em 1em 1em 1em

  & > span > .icon-message
    font-size: 1.25rem
    align-items: center


ul
  list-style: none
  padding: 0
  margin: 0

dialog
  @extend %border-box
  margin: auto
  padding: 1rem
  min-height: 10rem
  min-width: 15rem
  max-width: calc(min(60ch, 40vw))

  display: flex
  flex-direction: column
  row-gap: 1em
  align-items: center
  justify-content: space-between

  & > h1,
  & > p
    margin: 0

  & > h1
    font-size: 1.5rem
    font-weight: 500

  & > div
    width: 100%
    display: flex
    justify-content: space-around
    align-items: center
    column-gap: 1em

  & > div:last-child
    justify-content: space-between

button
  font-family: inherit
  font-size: inherit
  cursor: pointer

input
  font-family: inherit
  font-size: inherit

input[type=range]
  $scale: 1.5

  @function fromPx($px)
    @return calc(var(--border-thin) * $px * $scale)

  $height: fromPx(6)

  -webkit-appearance: none
  background: transparent
  margin: 0
  cursor: pointer
  width: calc(max(100px, 10rem))
  height: $height

  &:hover
    @extend %hover-brightness

  // css needs to be repeated/inlined for some reason
  // and cannot be reused across webkit and mozilla
  @mixin thumb
    box-shadow: none
    border: none
    border-radius: 0
    width: fromPx(10)
    height: $height
    background: common.ui-img(Range Thumb)
    background-size: contain

  &::-webkit-slider-thumb
    -webkit-appearance: none
    @include thumb

  &::-moz-range-thumb
    @include thumb

  @mixin track
    height: $height
    $width: 2
    $img-scale: 11
    border-image-source: common.ui-img(Range Track)
    border-image-slice: ($img-scale * $width) fill
    border-image-width: fromPx($width)

  &::-webkit-slider-runnable-track
    @include track

  &::-moz-range-track
    @include track


[role=tablist]
  display: flex
  column-gap: 0.5em
  padding-inline: 0.75em

[role=tab]
  @extend %button-unstyled
  min-width: 5em
  font-size: 1.5rem
  padding: 0.75rem 1rem 0.5rem 1rem

  @extend %border-box
  border-image-width: 1rem 1rem 0 1rem
  border-image-outset: 0.75rem 0.75rem 0 0.75rem
  margin: 0.75rem 0.75rem 0 0.75rem

  outline-offset: 0

  &[aria-selected=true]
    z-index: 1
    transform: translateY(0.5rem)

  &:hover
    @extend %hover-brightness

[role=tabpanel]
  @extend %border-box
  overflow: auto
  overscroll-behavior: contain

  & > div
    padding: 1em
    height: 100%
    box-sizing: border-box
    display: flex
    flex-direction: column
    row-gap: 1em


@media (max-width: $two-column-min-width)
  html
    scroll-snap-type: none

  main
    height: unset
    grid-template-columns: 1fr
    min-width: min-content

    & > section
      min-height: $one-column-min-height
      overflow: unset

  [role=tabpanel]
    overflow: unset

  .visualization-chart
    height: $one-column-min-height

    & > [role=tabpanel]
      overflow: hidden

@media (max-width: $one-column-min-width)
  :root
    font-size: calc(max(75%, 2vw))

  body
    --border-thin: 1px
    --border-med: 2px


.label-hidden
  @extend %colon
  font-size: 0
  user-select: none

.label-text
  @extend %colon
  margin-right: 0.5em

.input-box
  background: none

  $img-scale: 6
  image-rendering: pixelated
  border-image-source: common.ui-img(Input Box)
  border-image-slice: ($img-scale * 3) ($img-scale * 3) ($img-scale * 2) ($img-scale * 2) fill
  border-image-width: 0.5rem
  padding: 0.625em 0.5em 0.5em 0.5em

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

  -moz-appearance: textfield

  &:hover
    @extend %hover-brightness

.checkbox
  cursor: pointer
  user-select: none
  position: relative

  & > input
    @extend %hidden-input
    top: 0
    left: 0

  & > input + img
    content: common.ui-img(Checkbox)
    vertical-align: text-bottom
    width: 1.5em
    height: 1.5em

    &:not(:last-child)
      margin-right: 0.5em

  & > input:checked + img
    content: common.ui-img(Checkedbox)

  & > input:focus + img
    @extend %focus-outline
    outline-offset: 0

  &:hover > input + img
    @extend %hover-scale

  &.hidden-text > span:first-child
    font-size: 0

.select
  $padding: 0.5rem
  $background: #f9ba66
  $background-hover: #f5deb3
  --border: #5b2b2a solid var(--border-med)

  display: inline-flex
  cursor: pointer

  &:focus-within
    @extend %focus-outline

  &[aria-expanded=true]:focus-within
    outline: none

  &[aria-expanded=false]:hover > div > .select-control
    background-color: $background-hover

  & > div
    position: relative

  & > img
    content: common.ui-img(Select Spinner)
    height: 1rem + 2 * $padding
    border: var(--border)
    border-left: none

  &-control
    position: relative
    height: 100%
    box-sizing: border-box
    border: var(--border)
    background-color: $background
    padding: 0 $padding

    display: flex
    align-items: center

    & > input[type=search]
      outline: none
      background: transparent
      border: none
      position: absolute
      padding: 0
      width: calc(100% - 2 * #{$padding})
      height: 100%

      &:not(:placeholder-shown) + *
        visibility: hidden

    & > input[inputmode=none]
      @extend %hidden-input

    & > span
      margin-top: 0.125rem

    & span
      display: inline
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap

  &-list
    max-height: 50vh
    position: absolute
    left: 0
    top: 100%
    width: 100%
    z-index: 2
    border: var(--border)
    border-top: none
    background-color: $background
    box-sizing: border-box
    overflow: auto

    & > li
      padding: $padding

      &.empty
        text-align: center
        padding: 1.5 * $padding

      &[aria-selected=true]
        background-color: $background-hover

.button
  background: none
  color: black
  image-rendering: pixelated
  $img-scale: 7
  border-image-source: common.ui-img(Button)
  border-image-slice: ($img-scale * 2) fill
  border-image-width: 0.25em
  padding: 0.625em 0.5em 0.5em 0.5em

  &:hover
    @extend %hover-brightness


.preset
  display: flex
  align-items: baseline
  justify-content: space-between
  column-gap: 1em

  & > span:first-child
    font-size: 1.25rem

.file-input
  display: block

  & > div:first-child
    display: flex
    align-items: center
    column-gap: 1em

    & > label
      display: inline-block
      @extend .button
      cursor: pointer
      user-select: none
      margin-bottom: 0.5em

      & > input
        @extend %hidden-input

      &:focus-within
        @extend %focus-outline

  & > div:last-child
    display: flex
    align-items: center
    justify-content: center
    border: black solid var(--border-thin)
    background: lightgray
    height: 10rem

.messages
  display: flex
  flex-direction: column
  align-items: flex-start
  row-gap: 0.5em

  &-large
    margin: 25% auto auto auto
    font-size: 1.5rem

.icon-message
  display: flex
  column-gap: 0.5em

  & > :last-child
    margin-top: 0.375em
    display: flex
    flex-direction: column
    row-gap: 0.25em

    & > ul
      padding-left: 1em
      list-style: unset

.professions
  display: grid
  grid-template-columns: repeat(2, 1fr)
  width: max-content
  gap: 0.5em

  & > div
    display: flex
    align-items: center

    &:first-child,
    &:last-child:nth-child(2)
      grid-row: span 2

    & > label
      padding: 0.5em
      width: 100%
      cursor: pointer
      user-select: none

      & > input
        @extend %hidden-input

      & > input:checked + *
        color: green

      &:hover
        background: white

      &:focus-within
        @extend %focus-outline
        outline-offset: 0

.skill
  display: flex
  flex-direction: column
  row-gap: 1em
  padding: 0.5em
  width: max-content

  & > span:first-child
    width: 100%
    font-size: 1.5rem
    text-align: center

  &-level
    display: flex
    flex-wrap: wrap
    column-gap: 2em
    row-gap: 1em

.number-and-range
  display: flex
  align-items: center
  column-gap: 0.5em

  & > label
    display: flex
    align-items: center

.seasons
  display: grid
  grid-template-columns: repeat(4, 1fr)

.calendar
  display: flex
  flex-direction: column
  align-items: center
  row-gap: 2em

  &-season
    padding: var(--border-thin)
    min-width: min-content

  &-header
    display: grid
    grid-template-columns: repeat(3, 1fr)
    place-items: center
    padding: 1em
    column-gap: 1em

    & > span:last-child
      font-size: 1.25rem
      grid-column: 3

    & > span:first-child
      font-size: 2rem
      grid-column: 2


  &-days
    display: grid
    grid-template-columns: repeat(7, minmax(4rem, 7rem))
    grid-auto-rows: 1fr
    gap: var(--border-thin)

    & > div
      position: relative
      display: flex
      aspect-ratio: 1
      align-items: center
      justify-content: center
      outline: var(--border-thin) solid black
      padding: 10%

      & > img
        width: 50%
        height: unset

      &:nth-child(28n + 1)
        counter-reset: day

      &::before
        counter-increment: day
        content: counter(day)
        position: absolute
        $counter-offset: 5%
        top: $counter-offset
        left: calc(#{$counter-offset} + 0.125rem)

#chart
  flex-grow: 1
  min-height: 0
  overflow: hidden

  &-controls
    display: flex
    flex-wrap: wrap
    row-gap: 1em
    column-gap: 2em
    align-items: center
    justify-content: center

    & > div,
    & > div > div
      display: flex
      flex-wrap: wrap
      row-gap: 1em
      align-items: center
      column-gap: 0.5em

  &-tooltip
    @extend %border-box
    padding: 1em
    display: flex
    flex-direction: column
    align-items: center
    row-gap: 1em

    & > h1
      font-size: 1.25rem
      font-weight: 500
      margin: 0

    & > span
      font-size: 1.125rem

.recharts-tooltip-wrapper:focus
  outline: none

.recharts-bar-rectangle
  cursor: pointer

  & > path
    fill: #0060b6

.recharts-cartesian-axis-tick-value
  fill: black
  user-select: none

.recharts-cartesian-axis-line,
.recharts-cartesian-axis-tick-line
  stroke: black
  stroke-width: 1.5

.recharts-bar-rectangles > path
  cursor: pointer
  fill: transparent

#summary-controls
  display: flex
  flex-direction: column
  row-gap: 1em

  & > div
    display: flex
    width: 100%
    justify-content: center
    align-items: center
    column-gap: 0.5em

.edit
  float: right

.back
  @extend %button-unstyled
  font-size: 1.5rem
  padding: 0.25em 0.25em 0.125em 0.25em
  align-self: flex-start

  &::before
    @extend %arrow
    @extend %arrow-left
    margin-right: 0.5em

  &:hover::before
    @extend %hover-scale

.settings-group
  display: flex
  flex-wrap: wrap
  align-items: center
  column-gap: 2em
  row-gap: 1em
  padding-inline: 0.5em

.date > :last-child
  margin-left: 0.5em

.crop-qualities
  $transition: flex-grow 0.75s

  width: 100%

  & > div
    display: flex

    &:first-child
      height: 1rem

      & > div
        transition: $transition
        background-color: var(--color)

    &:last-child
      height: 1rem
      column-gap: 1em

      & > div
        transition: $transition
        flex-basis: min-content
        text-align: center
        color: var(--color)

.quality
  display: inline-block
  position: relative
  @extend .icon

  & > img:last-child
    content: var(--img)
    position: absolute
    left: 0
    bottom: 0
    width: 50%
    height: 50%

#visualization-optimizer
  & > label
    margin-left: 0.5em

  & > div:last-child
    display: flex
    flex-direction: column
    row-gap: 1em

#settings-crops > details:first-child > div
  display: flex
  flex-direction: column
  row-gap: 1em
  width: max-content

  & > div
    display: flex
    align-items: center
    justify-content: space-between
    column-gap: 1.5em

  & > label:first-child
    width: 100%

    & > input
      width: 100%

#settings-load\/save
  & > div
    display: flex
    column-gap: 1em
    justify-content: center

  & > div:first-child
    flex-direction: column
    align-items: center
    row-gap: 0.5em

    & > span:first-child
      font-size: 1.5rem

    & > ul
      border: black solid var(--border-thin)

      & > li
        @extend %zebra-striping
        display: grid
        grid-template-columns: minmax(min-content, 20em) max-content
        align-items: center
        column-gap: 1.5em
        padding: 1em

        & > div:last-child
          display: grid
          grid-template-columns: repeat(3, 1fr)
          gap: 0.5em

        &.empty
          min-width: 35rem
          display: flex
          justify-content: center


table, tr
  height: 100%

th, td
  height: 100%
  text-align: left
  vertical-align: middle

thead th:first-of-type,
tfoot th:first-of-type
  text-align: center

thead th,
tfoot th
  font-size: 1.125rem

thead th:first-of-type.column-sort > button
  justify-content: center

th, th > button
  font-weight: 500

tr
  @extend %zebra-striping

.column-sort
  & > button
    @extend %button-unstyled
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: start
    padding: 0.25em 0
    column-gap: 0.125em

  & > button::after
    @extend %arrow
    flex-shrink: 0

  &[aria-sort=ascending] > button::after
    @extend %arrow-up

  &[aria-sort=descending] > button::after
    @extend %arrow-down

  & > button:focus
    @extend %focus-outline

  &:not([aria-sort]) > button:hover::after
    @extend %arrow-up
    opacity: 0.5

.column-select
  width: 0
  font-size: 1rem

.collapse-arrow
  @extend %button-unstyled
  height: 1.5em
  width: common.$arrow-length
  margin-left: 0.125em
  display: flex
  align-items: center
  justify-content: center
  outline: none

  &::before
    @extend %arrow

  &[aria-pressed=false]::before
    @extend %arrow-right

  &[aria-pressed=true]::before
    @extend %arrow-down

  &:focus::before
    @extend %focus-outline
    outline-offset: 0.25em

  &:hover::before
    @extend %hover-scale

tr
  &.expanded
    border-bottom: black dashed var(--border-thin)

  &.collapsed ~ tr
    visibility: collapse
    // until safari and other browsers stop treating visibility: collapse as visibility: hidden
    // this is necessary to mimic visibility: collapse
    // unfortunately, this will cause the table to recompute its layout even for well behaved browsers
    position: absolute

#visualization table
  --border: black solid var(--border-thin)

  border-collapse: collapse

  & > *
    border: var(--border)

  // empty tbody messes up borders on firefox?
  & > tbody:empty
    display: none

  // all cells
  & tr > *
    padding: 0.5em

    &:empty
      padding: 0

    // last 4 columns
    &:nth-last-child(-n+4)
      text-align: right

  & thead th,
  & tfoot th
    padding-top: 0.625em

.input-items
  & > summary
    font-size: 1rem
    padding: 0

  & > ul
    margin-left: common.$arrow-length + 0.5em

#settings table
  --border: black solid var(--border-thin)

  border-collapse: separate
  border-spacing: 0
  border: var(--border)
  border-top: none

  & th, & td
    padding: 0.5em 0.25em

  & tr > :first-child
    padding-left: 0.5em

  & tr > :last-child
    padding-right: 0.5em

  & > thead
    position: sticky
    top: 0
    z-index: 1

    & th
      border-top: var(--border)
      border-bottom: var(--border)

      &.disabled
        opacity: 1

        & > *
          @extend .disabled

// price columns
#settings-crops > details:nth-child(2),
#settings-fertilizers > details:first-child
  & table td:nth-child(3) > img
    vertical-align: text-bottom
    margin-left: 0.25em


.disabled
  opacity: 0.5
