@use 'sass:math'

@font-face
  font-family: Stardew Valley Stonks
  src: url("/public/Stardew Valley Stonks.otf")
  font-display: swap

@function ui-img($file)
  @return url("/public/img/UI/#{$file}.png")


$bg-light: #ffd284
$bg: #f9ba66
$border-color: #5b2b2a
$blue: #0060b6
$purple: #ae00ff


%colon
  &::after
    font-weight: 600
    content: ":"

%button-unstyled
  padding: 0
  background: none
  outline: none
  box-shadow: none
  border: none
  color: black

.button
  background: none
  color: black
  image-rendering: pixelated
  $img-scale: 7
  border-image-source: ui-img(Button)
  border-image-slice: ($img-scale * 2) fill
  border-image-width: 0.25em
  padding: 0.625em 0.5em 0.5em 0.5em

  &:hover
    @extend %hover-brightness

$border-box-width: 1rem
$border-box-outset: $border-box-width * 0.75
%border-box
  image-rendering: pixelated
  $img-scale: 4
  border-image-source: ui-img(Border Box)
  border-image-slice: ($img-scale * 4) fill
  border-image-width: $border-box-width
  border-image-outset: $border-box-outset
  margin: $border-box-outset

  &-inner
    @extend %border-box
    border-image-outset: 0
    margin: 0
    padding: $border-box-outset

  & > *
    image-rendering: initial

%focus-outline
  outline: var(--border-thin) solid #d83700
  outline-offset: var(--border-thin)

:focus
  @extend %focus-outline

%hover-brightness
  filter: brightness(1.15)

%hover-scale
  transform: scale(1.1)


:root
  font-family: Stardew Valley Stonks, Nunito, sans
  line-height: 1.25
  word-spacing: 0.125em
  --border-thin: 2px
  --border-med: 3px

body
  margin: 0
  display: flex
  flex-direction: column
  align-items: center
  min-width: min-content
  min-height: 100vh
  width: 100%

  image-rendering: pixelated
  background-image: ui-img(Background)
  background-size: cover
  background-position: center bottom
  background-attachment: fixed
  overflow-y: scroll

  & > span // noscript
    @extend %border-box
    display: block
    width: max-content
    font-size: 1.5rem
    margin: 1em auto
    padding: 1em

  & > *
    box-sizing: border-box
    width: 100%
    image-rendering: initial

$header-padding: 1.5em
header
  padding: $header-padding
  max-width: 100vw

  & > a
    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: 1em 2em

    & > div
      display: flex
      align-items: center

footer
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-evenly
  text-align: center

  gap: 1em
  padding: 1em
  min-height: 15vh

  font-size: 1.25rem

  & > span
    @extend %border-box
    padding: 0.625em 0.75em 0.5em 0.75em


$title-img-max-width: 428
$title-img-height: 84
@media (max-width: calc(2 * $header-padding + $title-img-max-width * 1px))
  header > a > div
    width: 100%
    aspect-ratio: #{$title-img-max-width} / $title-img-height
    justify-content: center


img
  user-select: none

a
  color: scale-color($blue, $lightness: -20%)

  &:visited
    color: scale-color($purple, $lightness: -25%)

  &:focus
    @extend %focus-outline

dl
  display: grid
  grid-template-columns: fit-content(13em) auto
  gap: 0.5em
  margin: 0

dt
  @extend %colon
  text-align: right

dd, h1, h2, h3, h4, h5, h6, p, ul
  margin: 0
