@use 'common'

$padding: 1rem
$gap: 1rem

@function width($width)
  @return $width + 2 * $padding + 2 * common.$border-box-outset

$content-min-width: width(30rem)
$content-max-width: width(60rem)
$nav-min-width: width(8rem)

main
  display: grid
  grid-template-columns: minmax($nav-min-width, 1fr) minmax($content-min-width, $content-max-width) 1fr
  justify-content: center
  gap: $gap
  padding: $padding

nav
  @extend %border-box
  position: sticky
  top: $gap + common.$border-box-outset
  justify-self: end
  width: fit-content
  height: min-content
  padding: $padding
  font-size: 1.25rem

#top-link
  @extend .button
  display: none
  position: sticky
  bottom: 1em
  text-decoration: none

#content
  @extend %border-box
  padding: $padding

  display: flex
  flex-flow: column
  row-gap: 2em

section
  display: flex
  flex-direction: column
  row-gap: 0.5em

  & > h2
    margin-top: 0.5em


@media (max-width: $nav-min-width + $content-min-width + 2 * $padding + 3 * $gap)
  main
    display: flex
    flex-direction: column
    align-items: center
    row-gap: $gap

  nav
    position: unset

  #top-link
    display: block

@media (max-width: 40rem)
  dl
    display: flex
    flex-direction: column
    row-gap: 0.25em

  dt
    text-align: unset
    margin-top: 0.75em

    &:first-child
      margin-top: 0.5em

  dd
    margin-left: 1em


ul
  padding-left: 1em
  display: flex
  flex-direction: column
  row-gap: 0.5em

  & ul
    margin-top: 0.5em

nav > ul
  list-style: none
  padding: 0

h1, h2, h3, h4, h5, h6, p, ul
  margin: 0

h1
  font-size: 1.75rem

h2
  font-size: 1.25rem

blockquote
  display: flex
  flex-direction: column
  row-gap: 0.5em
  margin: 0.5em 0
  padding: 0.5em 0.75em

  background: white
  border-radius: 0.5em

dt
  font-weight: bold

figure
  display: flex
  flex-direction: column
  align-items: center
  row-gap: 0.5em
  margin: 0.5em 0

  & > img
    max-width: 100%
    height: auto
    max-height: calc(min(20rem, 50vh))

table
  border-collapse: collapse
  $border: solid black 1px
  border: $border
  margin: 0.5em 0

  & td, & th
    border: $border
    padding: 0.375em 0.5em 0.25em 0.5em

  & th
    font-size: 1.1em
    font-weight: normal

#giant-crops > ul figure
  width: max-content
