@use 'sass:math'

@font-face
  font-family: Stardew Valley Stonks
  src: url('../public/Stardew Valley Stonks.otf')

$phi: math.div(1 + math.sqrt(5), 2)

$line-height: 1.25

:root
  font: var(--font-size, 100%) / $line-height Stardew Valley Stonks, Nunito, sans
  --space-width: calc(3rem / 13)

body
  --app-min-height: 80vh
  --chart-min-width: 250px
  --chart-min-height: 250px

  display: flex
  flex-direction: column

  min-height: 100vh

  background-image: url("../public/img/Gradient.png")
  background-size: contain
  background-repeat: repeat-x
  margin: 0

  > span // noscript
    text-align: center
    margin-top: 1rem

ul
  list-style: none
  padding: 0
  margin: 0

button
  font-family: inherit
  font-size: inherit

input
  font-family: inherit
  font-size: inherit

.file
  &-dropzone
    background: lightgray
    height: 5rem

  &-input
    display: inline-block

    & > input
      display: none

    &:hover
      transform: scale(1.1)


input[type=range]:focus
  outline: none


input[type=range]
  -webkit-appearance: none
  background: transparent
  margin: 0

  &::-webkit-slider-thumb
    -webkit-appearance: none
    border: none
    height: 32px
    width: 16px
    image-rendering: pixelated
    background: url("../public/img/Range Thumb.png")
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    cursor: pointer
    margin-top: -13px
    box-shadow: none

    &:hover, &:active
      // margin-top: -14px
      // transform: scale(1.25)

  &::-moz-range-thumb
    border: none
    height: 32px
    width: 16px
    image-rendering: crisp-edges
    background: url("../public/img/Range Thumb.png")
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    cursor: pointer

    &:hover, &:active
      transform: scale(1.25)

  &::-webkit-slider-runnable-track
    height: 6px
    cursor: pointer
    background: #b14e05

  // &:focus::-webkit-slider-runnable-track
  //   background: #367ebd

  &::-moz-range-track
    // width: 100%
    height: 6px
    cursor: pointer
    background: #b14e05

  // &:focus::-moz-range-track
    // background: #367ebd





.tabs
  display: flex


main
  flex-grow: 1

#app
  display: flex
  flex-flow: row
  min-height: var(--app-min-height)

  & > section
    // transition: flex-basis 0.1s
    flex-basis: 50%


#visualization
  display: flex
  flex-direction: column

  // flex-basis: 50%
  // // flex-basis: 50%

  // & + #settings
  //   flex-basis: 50%


  &-graph
    // flex-basis: 60%

    // & + #settings
    //   flex-basis: 40%

    @extend #visualization
    min-width: var(--chart-min-width)
    min-height: var(--chart-min-height)
    max-height: var(--app-min-height)

    & > .controls
      display: flex
      justify-content: center
      align-items: center

#settings
  display: flex
  flex-direction: column

  & > :last-child
    flex-grow: 1
    overflow-y: auto

  & > .tabs
    justify-content: end


@media (max-aspect-ratio: 1)
  #app
    display: block

  #visualization-graph
    height: calc(var(--app-min-height) / 2)


#misc
  display: flex
  flex-direction: column

#misc > div
  display: flex
  flex-direction: column

details > div
  opacity: 0
  transform: scaleY(0)

// details[open] > div
// and
// details.open > div
// are broken -> only gets triggered on first open?
details > div.open
  opacity: 1
  transform: scaleY(1)
  transform-origin: top
  transition: opacity 0.5s, transform 0.5s


.pixel
  image-rendering: pixelated
  image-rendering: crisp-edges

img
  @extend .pixel

.icon
  &-processor
    width: 1.25rem
    &-large
      width: 1.25rem
      image-rendering: unset

// svg
  // @extend .pixel

// .graph-wrapper
//   flex-grow: 1
//   display: flex
//   flex-direction: column

.graph
  flex-grow: 1
  flex-basis: 0
  overflow-y: hidden
  color: #000000

.recharts-bar-rectangle
  cursor: pointer

.pairSelect
  cursor: pointer


%checkbox
  cursor: pointer

  & > input
    transform: scale(0)
    opacity: 0
    position: absolute

  & > input:focus + img
    outline: 2px solid cyan

  &:hover > input + img
    transform: scale(1.1)


.checkbox-label
  @extend %checkbox

  & > input + img
    @extend .pixel
    content: url("../public/img/Checkbox.png")
    width: 1rem
    height: 1rem

  & > input:checked + img
    content: url("../public/img/Checkedbox.png")


.qualities-checkbox
  @extend %checkbox

  & > input + img
    @extend .pixel
    content: url("../public/static/img/Qualities/All.png")
    width: 2rem
    height: 1rem
    @extend .disabled

  & > input:checked + img
    opacity: 1


.right-arrow
  display: flex
  justify-content: center
  justify-items: center
  flex-direction: row
  height: 100%

  & > img
    width: 1rem


.breakdown-table
  margin: auto
  width: max-content

  & td
    vertical-align: bottom
    text-align: right


.skills
  & > div
    display: flex
    flex-direction: column

    & > span
      text-align: center

      & > img
        width: 1rem
        height: 1rem

    & > label
      color: brown
      text-align: left

.professions
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap

  & > div
    display: flex
    flex-direction: column
    width: 50%
    align-items: center

    & > label
      display: block
      width: 100%
      height: 2.5rem
      color: purple
      border-radius: 10px

      &.active
        color: green

      & > img
        width: 1rem
        height: 1rem

      & > input
        visibility: hidden
        position: absolute




.checkbox-hidden
  width: 1rem
  height: 0.5rem

.season-slot
  display: inline-block
  width: 25%

  & img
    width: 100%

.table
  display: flex
  flex-direction: column

  &-filters
    height: var(--table-filters-height)

  %table-style
    table-layout: fixed
    border-collapse: collapse

  &-header
    @extend %table-style
    width: 100%
    background-color: lavender

    & > thead
      & > tr
        & > th
          cursor: auto

  &-body
    @extend %table-style

    &-container
      overflow: auto

    & > tbody
      & > tr
        cursor: pointer

        &:hover
          background-color: blue

        & > td
          padding: 0
          overflow: visible

.crop-tabs
  display: flex
  flex-direction: row

  & > li
    flex-grow: 1
    background-color: white
    cursor: pointer
    text-align: center

    &.active
      color: magenta

    &:hover
      transform: scale(1.1)


.seasons
  display: flex
  flex-direction: row


.calendar
  &-season
    padding: 0.5rem 1rem 0.5rem 1rem
    min-width: min-content

  &-header
    display: flex
    justify-content: center
    align-items: center
    font-size: 2rem
    margin-bottom: 0.25rem

    & > img
      height: 1rem
      margin-right: 0.5rem

  &-days
    display: grid
    grid-template-columns: repeat(7, minmax(4rem, 1fr))
    grid-auto-rows: 1fr
    gap: var(--eighth-border)
    outline: var(--eighth-border) solid black

    & > div
      position: relative
      display: flex
      align-items: center
      justify-content: center
      outline: var(--eighth-border) solid black
      padding: 10%
      --counter-offset: 2.5%

      & > img
        width: 50%

      &:nth-child(28n + 1)
        counter-reset: day

      &::before
        counter-increment: day
        content: counter(day)
        position: absolute
        top: var(--counter-offset)
        left: calc(var(--counter-offset) + 0.25rem)




.audit-graph

  &-select
    display: flex
    flex-direction: column
    align-items: center

    & > div
      display: flex
      width: 100%
      justify-content: center
      align-items: center


.input-box
  outline: none
  background: none
  @extend .pixel
  border-image-source: url("../public/img/Input Box.png")
  border-image-slice: 3 fill
  border-image-width: 0.5rem
  padding: 0.5rem

  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

  -moz-appearance: textfield




.select
  $border-color: #5b2b2a

  position: relative

  &-container
    // border-width = ceil(1rem / 6)
    --height: calc(var(--sixth-border) * 11)
    // height = 1rem * line-height + 2 * padding + 2 * border-width = ceil(1rem / 6) * 11
    // => 1rem * line-height + 2 * padding = ceil(1rem / 6) * 9
    // => padding = (ceil(1rem / 6) * 9 - 1rem * line-height) / 2
    // But since line-height = 1.25, the horizontal padding should be more.
    // Multiplying by 2 seems "about right".
    --padding: calc(var(--sixth-border) * 9 - var(--font-size) * #{$line-height})

    position: relative
    display: inline-flex
    height: var(--height)
    background-color: $border-color

    &::after
      content: ""
      width: calc(var(--height) - var(--sixth-border))
      height: 100%
      @extend .pixel
      background-image: url("../public/img/Select Spinner.png")
      background-size: cover

  &-control
    position: relative
    height: 100%
    box-sizing: border-box
    border: $border-color solid var(--sixth-border)
    background: #f9ba66
    padding: 0 var(--padding)

    display: flex
    align-items: end

  &-value
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    padding-bottom: calc(var(--padding) / 4)

    & img
      height: 1rem
      width: 1rem
      margin-right: var(--space-width)
      vertical-align: top

  &-input
    &-search
      outline: none
      background: transparent
      border: none
      position: absolute
      padding: 0
      width: calc(100% - 2 * var(--padding))
      height: 100%

      &:not(:placeholder-shown) + .select-value
        visibility: hidden

    &-hidden
      position: absolute
      opacity: 0
      transform: scale(0)


  &-list
    max-height: 40vh
    position: absolute
    left: 0
    top: 100%
    width: 100%
    z-index: 1
    border: $border-color solid var(--sixth-border)
    border-top: none
    background: #f9ba66
    box-sizing: border-box
    overflow: auto

    & > ul > li
      padding: var(--padding)

      &.hover
        background-color: #f5deb3

    & > div
      text-align: center
      padding: 0.5rem

  &:focus-within
    // border: 1px solid cyan



.quality
  display: inline-block
  position: relative
  width: 1.5rem
  height: 1.5rem

  & > img:first-child
    width: 100%
    height: 100%

  & > img:last-child
    position: absolute
    left: 0
    bottom: 0
    width: 40%
    height: 40%


.disabled
  opacity: 0.5

.open
  opacity: 1
  visibility: visible

.hidden
  display: none

footer
  background-color: white
  display: flex
  align-items: center
  justify-content: space-evenly
  text-align: center


%crop-qualities-inline
  display: inline-block
  height: 100%
  transition: flex-grow 0.75s

.iridium
  --quality-color: purple

.gold
  --quality-color: gold

.silver
  --quality-color: silver

.normal
  --quality-color: white

.crop-qualities
  width: 100%

  &-bars
    height: 1rem
    display: flex

    & > div
      @extend %crop-qualities-inline
      background-color: var(--quality-color)

  &-probs
    height: 1rem
    display: flex

    & > div
      @extend %crop-qualities-inline
      width: min-content
      flex-basis: 0
      text-align: center
      color: var(--quality-color)
