@use 'sass:math'

@font-face
  font-family: Stardew Valley Stonks
  src: url("/public/Stardew Valley Stonks.otf")

$phi: math.div(1 + math.sqrt(5), 2)

@function ui-img($file)
  @return url("/public/img/UI/#{$file}.png")


@function icon-size($px)
  @return calc(var(--icon-scale) * #{$px}px)

$icon-size: #{icon-size(16)}

:root
  font: var(--font-size, 100%) / 1.25 Stardew Valley Stonks, Nunito, sans
  --space-width: calc(3rem / 13)
  --icon-scale: var(--icon-base-scale)
  --arrow-length: #{icon-size(11)}
  --arrow-width: #{icon-size(10)}

body
  --app-min-height: 80vh
  --chart-min-width: 250px
  --chart-min-height: 250px

  display: flex
  flex-direction: column

  min-height: 100vh

  background-image: ui-img("Gradient")
  background-size: contain
  background-repeat: repeat-x
  margin: 0

  & > span // noscript
    text-align: center
    margin-top: 1rem

ul
  list-style: none
  padding: 0
  margin: 0

dl
  display: grid
  grid-template-columns: auto auto
  justify-content: start
  gap: 0 0.5rem

dt::after
  content: ":"

dd
  margin: 0

tbody th
  text-align: left

button
  font-family: inherit
  font-size: inherit

input
  font-family: inherit
  font-size: inherit

.file
  &-dropzone
    background: lightgray
    height: 5rem

  &-input
    display: inline-block

    & > input
      display: none

    &:hover
      transform: scale(1.1)


input[type=range]:focus
  outline: none


input[type=range]
  -webkit-appearance: none
  background: transparent
  margin: 0

  &::-webkit-slider-thumb
    -webkit-appearance: none
    border: none
    height: 32px
    width: 16px
    image-rendering: pixelated
    background: ui-img("Range Thumb")
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    cursor: pointer
    margin-top: -13px
    box-shadow: none

    &:hover, &:active
      // margin-top: -14px
      // transform: scale(1.25)

  &::-moz-range-thumb
    border: none
    height: 32px
    width: 16px
    image-rendering: crisp-edges
    background: ui-img("Range Thumb")
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    cursor: pointer

    &:hover, &:active
      transform: scale(1.25)

  &::-webkit-slider-runnable-track
    height: 6px
    cursor: pointer
    background: #b14e05

  // &:focus::-webkit-slider-runnable-track
  //   background: #367ebd

  &::-moz-range-track
    // width: 100%
    height: 6px
    cursor: pointer
    background: #b14e05

  // &:focus::-moz-range-track
    // background: #367ebd





.tabs
  display: flex


main
  flex-grow: 1

#app
  display: flex
  flex-flow: row
  min-height: var(--app-min-height)

  & > section
    // transition: flex-basis 0.1s
    flex-basis: 50%


#visualization
  display: flex
  flex-direction: column

  // flex-basis: 50%
  // // flex-basis: 50%

  // & + #settings
  //   flex-basis: 50%


  &-graph
    // flex-basis: 60%

    // & + #settings
    //   flex-basis: 40%

    @extend #visualization
    min-width: var(--chart-min-width)
    min-height: var(--chart-min-height)
    max-height: var(--app-min-height)

    & > .controls
      display: flex
      justify-content: center
      align-items: center

#settings
  display: flex
  flex-direction: column

  & > :last-child
    flex-grow: 1
    overflow-y: auto

  & > .tabs
    justify-content: end


@media (max-aspect-ratio: 1)
  #app
    display: block

  #visualization-graph
    height: calc(var(--app-min-height) / 2)


#misc
  display: flex
  flex-direction: column

#misc > div
  display: flex
  flex-direction: column

details > div
  opacity: 0
  transform: scaleY(0)

// details[open] > div
// and
// details.open > div
// are broken -> only gets triggered on first open?
details > div.open
  opacity: 1
  transform: scaleY(1)
  transform-origin: top
  transition: opacity 0.5s, transform 0.5s


%pixel
  image-rendering: pixelated
  image-rendering: crisp-edges

img
  @extend %pixel

.icon-processor
  width: 1.25rem

  &-large
    width: 1.25rem
    image-rendering: unset

// svg
  // @extend .pixel

// .graph-wrapper
//   flex-grow: 1
//   display: flex
//   flex-direction: column

.graph
  flex-grow: 1
  flex-basis: 0
  overflow-y: hidden
  color: #000000

.recharts-wrapper
  overflow: hidden

.recharts-bar-rectangle
  cursor: pointer

.pair-image
  cursor: pointer

.pair-select
  cursor: pointer
  fill: transparent

%hidden-checkbox
  transform: scale(0)
  opacity: 0
  position: absolute

.checkbox
  cursor: pointer

  & > input
    @extend %hidden-checkbox

  & > input + img
    content: ui-img("Checkbox")
    width: #{icon-size(18)}
    height: #{icon-size(18)}

  & > input:checked + img
    content: ui-img("Checkedbox")

  & > input:focus + img
    outline: 2px solid cyan

  &:hover > input + img
    transform: scale(1.1)

.label > input + img
  margin-right: var(--space-width)

.profession
  display: block
  width: 100%
  height: 2.5rem

  & > input
    @extend %hidden-checkbox

  & > input:checked + *
    color: green

  & > input:focus + *
    outline: 2px solid cyan

  &:hover
    background: white

.professions
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap

  & > div
    display: flex
    flex-direction: column
    width: 50%
    align-items: center

.skills
  & > div
    display: flex
    flex-direction: column

    & > span
      text-align: center

    & > label
      color: brown
      text-align: left

.breakdown-table
  margin: auto
  width: max-content

  & td
    vertical-align: bottom
    text-align: right


.calendar
  &-season
    padding: 0.5rem 1rem 0.5rem 1rem
    min-width: min-content

  &-header
    display: flex
    justify-content: center
    align-items: center
    font-size: 2rem
    margin-bottom: 0.25rem
    --icon-scale: calc(var(--icon-base-scale) * 2)

  &-days
    display: grid
    grid-template-columns: repeat(7, minmax(4rem, 1fr))
    grid-auto-rows: 1fr
    gap: var(--eighth-border)
    border: var(--eighth-border) solid black

    & > div
      position: relative
      display: flex
      aspect-ratio: 1
      align-items: center
      justify-content: center
      outline: var(--eighth-border) solid black
      padding: 10%
      $counter-offset: 2.5%

      & > img
        width: 50%
        height: unset

      &:nth-child(28n + 1)
        counter-reset: day

      &::before
        counter-increment: day
        content: counter(day)
        position: absolute
        top: $counter-offset
        left: calc(#{$counter-offset} + 0.25rem)




.audit-graph

  &-select
    display: flex
    flex-direction: column
    align-items: center

    & > div
      display: flex
      width: 100%
      justify-content: center
      align-items: center


.input-box
  outline: none
  background: none
  @extend %pixel
  border-image-source: ui-img("Input Box")
  border-image-slice: 3 fill
  border-image-width: 0.5rem
  padding: 0.5rem

  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

  -moz-appearance: textfield


.select
  $padding: 0.25rem
  --border: #5b2b2a solid var(--sixth-border)

  position: relative
  display: inline-flex

  & > div
    position: relative

    &:focus-within
      // border: 1px solid cyan

  & > img
    content: ui-img("Select Spinner")
    height: calc(max(24px, 2rem + 4px)) // eyeball css
    border: var(--border)
    border-left: none
    box-sizing: border-box

  &-control
    position: relative
    height: 100%
    box-sizing: border-box
    border: var(--border)
    background: #f9ba66
    padding: 0 (2 * $padding)

    display: flex
    align-items: center

    & > input[type=search]
      outline: none
      background: transparent
      border: none
      position: absolute
      padding: 0
      width: calc(100% - 2 * #{$padding})
      height: 100%

      &:not(:placeholder-shown) + *
        visibility: hidden

    & > input[inputmode=none]
      position: absolute
      opacity: 0
      transform: scale(0)

    & span
      display: inline
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap

  &-list
    max-height: 40vh
    position: absolute
    left: 0
    top: 100%
    width: 100%
    z-index: 1
    border: var(--border)
    border-top: none
    background: #f9ba66
    box-sizing: border-box
    overflow: auto

    & > ul > li
      padding: $padding

      &.hover
        background-color: #f5deb3

    & > div
      text-align: center
      padding: 0.5rem

// with pixelated image rendering, rotating distorts the image on some browsers
// instead, let's create a class for each direction
.arrow-right
  content: ui-img("Arrow Right")
  width: var(--arrow-length)
  height: var(--arrow-width)

.arrow-up
  content: ui-img("Arrow Up")
  width: var(--arrow-width)
  height: var(--arrow-length)

.arrow-down
  content: ui-img("Arrow Down")
  width: var(--arrow-width)
  height: var(--arrow-length)

%arrow
  content: ""
  @extend %pixel
  background-size: cover

%arrow-right
  @extend %arrow
  background-image: ui-img("Arrow Right")
  width: var(--arrow-length)
  height: var(--arrow-width)

%arrow-up
  @extend %arrow
  background-image: ui-img("Arrow Up")
  width: var(--arrow-width)
  height: var(--arrow-length)

%arrow-down
  @extend %arrow
  background-image: ui-img("Arrow Down")
  width: var(--arrow-width)
  height: var(--arrow-length)

%season
  width: #{icon-size(24)}
  height: $icon-size

@mixin season($name)
  .#{to-lower-case($name)}
    @extend %season
    content: url("/public/img/Seasons/#{$name}.png")

@each $season in Spring Summer Fall Winter
  @include season($season)

.seasons
  display: grid
  grid-template-columns: repeat(4, 1fr)

.icon
  width: $icon-size
  height: $icon-size

  &-text
    display: inline-block

    & > :first-child
      margin-right: calc(var(--icon-scale) * var(--space-width))

@mixin icon-img($name, $folder)
  .#{to-lower-case($name)}
    @extend .icon
    content: url("/public/img/#{$folder}/#{$name}.png")

@each $skill in Farming Tiller Artisan Agriculturist Foraging Gatherer Botanist
  @include icon-img($skill, "Skills")

@each $product in Jam Pickles Wine Juice
  @include icon-img($product, "Products")

@mixin quality($name, $color)
  .#{to-lower-case(#{$name})}
    --color: #{$color}
    --img: url("/public/img/Qualities/#{$name}.png")

@include quality(Iridium, purple)
@include quality(Gold, gold)
@include quality(Silver, silver)
@include quality(Normal, white)

.crop-qualities
  $transition: flex-grow 0.75s

  width: 100%

  &-bars
    height: 1rem
    display: flex

    & > div
      transition: $transition
      background-color: var(--color)

  &-probs
    height: 1rem
    display: flex

    & > div
      transition: $transition
      flex-basis: min-content
      text-align: center
      color: var(--color)

.quality
  display: inline-block
  position: relative
  width: $icon-size
  height: $icon-size

  & > img:last-child
    content: var(--img)
    position: absolute
    left: 0
    bottom: 0
    width: #{icon-size(8)}
    height: #{icon-size(8)}


.disabled
  opacity: 0.5

footer
  background-color: white
  display: flex
  align-items: center
  justify-content: space-evenly
  text-align: center

th.sortable
  cursor: pointer

  &::after
    float: right

  &[aria-sort=ascending]::after
    @extend %arrow-up

  &[aria-sort=descending]::after
    @extend %arrow-down


th.collapsible
  cursor: pointer
  width: var(--arrow-length)

  &::before
    display: block

  &[aria-pressed=false]::before
    @extend %arrow-right

  &[aria-pressed=true]::before
    @extend %arrow-down


tr.collapsible
  cursor: pointer

  & > td:first-child
    width: var(--arrow-length)

    &::before
      display: block

  &[aria-pressed=false] > td:first-child::before
    @extend %arrow-right

  &[aria-pressed=true] > td:first-child::before
    @extend %arrow-down

  &[aria-pressed=false] ~ tr
    visibility: collapse
