# Parcel folders
.parcel-cache/
parcel-bundle-reports/

# NPM modules
node_modules/

# Output from parcel
dist/

# Transpiled JS output
fable/
*.fs.js

# Pandoc output
public/info.html

# Temporary files
temp/

# Paket dependency manager
.paket/paket.exe
paket-files/

# VS Code files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
