source https://api.nuget.org/v3/index.json

storage: none
framework net8.0

nuget FSharp.Core
nuget Fable.Core
nuget Fable.React
nuget Fable.Browser.Url
nuget Fable.Browser.Worker
nuget Fable.Elmish.React
nuget Thoth.Json
nuget Feliz
nuget Feliz.CompilerPlugins
nuget Feliz.Recharts
nuget Fable.YALPS

nuget Thoth.Json.Net
nuget MonoGame.Framework.DesktopGL
