source https://api.nuget.org/v3/index.json

storage: none
framework net6.0

nuget FSharp.Core
nuget Fable.Core
nuget Fable.React < 9.0
nuget Fable.Browser.Worker
nuget Fable.Elmish.React < 4.0
nuget Thoth.Json
nuget Feliz < 2.0
nuget Feliz.CompilerPlugins < 2.0
nuget Feliz.Recharts
nuget Fable.YALPS

nuget Thoth.Json.Net
nuget MonoGame.Framework.DesktopGL
