version 5.242.2
source https://api.nuget.org/v3/index.json
redirects: off
storage: none
framework: netstandard2.0, netcoreapp3.1

nuget FSharp.Core                           >= 4.7.0
nuget Fable.Core                            ~> 3.1.5
nuget Fable.Browser.Dom                     ~> 1.1.0
nuget Fable.React
nuget Fable.Promise                         ~> 2.0.0
nuget Thoth.Json
nuget FSharp.Data.Adaptive                  ~> 0.0.25
