<button type="button" class=@Class @onclick=Toggle>
	@Text
</button>
@if(_Expanded)
{
	@ChildContent
}

@code {
	[Parameter]
	public RenderFragment ChildContent { get; set; }

	[Parameter]
	public string Text { get; set; }

	[Parameter]
	public string ExpandedClass { get; set; }

	[Parameter]
	public string UnexpandedClass { get; set; }

	[Parameter]
	public bool Expanded { get; set; }

	bool _Expanded;

	void Toggle()
	{
		_Expanded = !_Expanded;
	}

	string Class => _Expanded ? ExpandedClass : UnexpandedClass;

	protected override void OnInitialized()
	{
		_Expanded = Expanded;
		base.OnInitialized();
	}
}
