<CascadingValue Value="this">
	@foreach (Tab tab in Tabs)
	{
		<button type="button" class=@ButtonClass(tab) @onclick=@( () => SwitchTab(tab) )>
			@tab.Name
		</button>
	}
	@ChildContent
</CascadingValue>

@code
{
	[Parameter]
	public RenderFragment ChildContent { get; set; }

	[Parameter]
	public string TabClass { get; set; }

	[Parameter]
	public string SelectedTabClass { get; set; }

	public Tab SelectedTab { get; set; }

	List<Tab> Tabs = new List<Tab>();

	internal void AddTab(Tab tab)
	{
		Tabs.Add(tab);
		if (Tabs.Count == 1)
		{
			SelectedTab = tab;
		}
		StateHasChanged();
	}

	private string ButtonClass(Tab tab)
	{
		return tab == SelectedTab ? SelectedTabClass : TabClass;
	}

	void SwitchTab(Tab tab)
	{
		SelectedTab = tab;
	}
}