<CascadingValue Value=this>
	<div>
		@foreach (Tab tab in Tabs)
		{
			<button type="button" class=@ButtonClass(tab) @onclick=@( () => SwitchTab(tab) )>
				@tab.Name
			</button>
		}
	</div>
	@ChildContent
</CascadingValue>

@code {
	[Parameter]
	public RenderFragment ChildContent { get; set; }

	[Parameter]
	public string Class { get; set; }

	[Parameter]
	public string ActiveTab { get; set; }

	[Parameter]
	public string InactiveTab { get; set; }

	public Tab Tab { get; private set; }

	readonly List<Tab> Tabs = new List<Tab>();

	internal void AddTab(Tab tab)
	{
		Tabs.Add(tab);
		if (Tab == null)
		{
			Tab = tab;
			StateHasChanged();
		}
	}

	string ButtonClass(Tab tab) => tab == Tab ? ActiveTab : InactiveTab;

	void SwitchTab(Tab tab) => Tab = tab;
}