header {
	background-color: cornsilk;
	font-family: Stencil;
	font-size: 32px;
	font-weight: bold;
	color: #ffd400;
	text-align: center;
	word-spacing: 8px;
}

body {
	background-color: antiquewhite;
	margin: 0px;
	font-family: 'Times New Roman', Times, serif;
}

footer {
	background: black;
}

.input-header {
	color: blue;
}

.input-label {
	color: brown;
}

.input-grid {
	display: grid;
	grid-template-columns: 1fr repeat(4, minmax(50px, 0.4045075fr));
}

.editor-tab {
	float: left;
}

.editor {
	background-color: red;
	grid-column: 1;
	grid-row: 1/span 4;
}

.data-table {
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
}

.data-table th {
	border: 1px solid black;
}

.data-table td {
	border: 1px solid black;
}

.top-row {
	grid-row: 1;
	grid-column: 2/span 5;
}

.skills {
	grid-row: 2;
	grid-column: 2;
}

.products {
	grid-row: 2;
	grid-column: 3;
}

.sources {
	grid-row: 2;
	grid-column: 4;
}

.replant {
	grid-row: 2;
	grid-column: 5;
}

.non-greenhouse-settings {
	grid-row: 3;
	grid-column: 2/span 5;
}

.bottom-row {
	grid-row 4;
	grid-column: 2/span 5;
}

.entry-checkbox {
	visibility: hidden;
	position: absolute;
	left: 1px;
	top: 1px;
	height: 25px;
	width: 25px;
	margin: 0px;
}

.entry-checkbox-label {
	display: block;
	position: relative;
	cursor: pointer;
	height: 27px;
	width: 27px;
	margin: auto;
}

.entry-checkbox-label:hover input ~ .entry-checkbox-background {
	background-color: gray;
}

.entry-checkbox-label input:active ~ .entry-checkbox-background {
	background-color: white;
}

.entry-checkbox-label input:checked ~ .entry-checkbox-background {
	background-color: green;
}

.entry-checkbox-background {
	position: absolute;
	height: 25px;
	width: 25px;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	border-color: black;
}

.entry-checkbox-background:after {
	content: "";
	position: absolute;
	display: none;
}

.entry-checkbox-label input:checked ~ .entry-checkbox-background:after {
	display: block;
}

.entry-checkbox-label .entry-checkbox-background:after {
	left: 8px;
	bottom: 5px;
	width: 6px;
	height: 12px;
	border: solid white;
	border-width: 0 4px 4px 0;
	transform: rotate(45deg);
}

.lock-checkbox {
	visibility: hidden;
	position: absolute;
	left: 1px;
	right: 1px;
	height: 25px;
	width: 25px;
	margin: 0px;
}

.lock-checkbox-label {
	display: block;
	position: relative;
	cursor: pointer;
	height: 27px;
	width: 27px;
	margin: auto;
	float: right;
}

.lock-checkbox-label:hover input ~ .lock-checkbox-background {
	background-color: gray;
}

.lock-checkbox-label input:active ~ .lock-checkbox-background {
	background-color: white;
}

.lock-checkbox-label input:checked ~ .lock-checkbox-background {
	background-color: green;
}

.lock-checkbox-background {
	position: absolute;
	height: 25px;
	width: 25px;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	border-color: black;
}

.lock-checkbox-background:after {
	content: "";
	position: absolute;
	display: none;
}

.lock-checkbox-label input:checked ~ .lock-checkbox-background:after {
	display: block;
}

.lock-checkbox-label .lock-checkbox-background:after {
	left: 8px;
	bottom: 5px;
	width: 6px;
	height: 12px;
	border: solid white;
	border-width: 0 4px 4px 0;
	transform: rotate(45deg);
}

$checkbox-border-width: 1px; //editable
$checkbox-width: 50px; //editable
$checkbox-height: 25px; //editable
$checkbox-total-width: $checkbox-width + 2 * $checkbox-border-width;
$checkbox-total-height: $checkbox-height + 2 * $checkbox-border-width;
$checkmark-width: 6px; //editable
$checkmark-height: 2 * $checkmark-width;
$checkmark-thickness: 4px; //editable
$checkmark-total-width: ($checkmark-width + $checkmark-thickness) * 3 * 1.41421356237;

.skills-checkbox {
	visibility: hidden;
	position: absolute;
	height: $checkbox-total-height;
	width: $checkbox-total-width;
	margin: 0px;
}

.skills-checkbox-label {
	display: inline-block;
	position: relative;
	cursor: pointer;
	height: $checkbox-total-height;
	width: $checkbox-total-width;
	margin: auto;
}

.skills-checkbox-label:hover input ~ .skills-checkbox-background {
	background-color: gray;
}

.skills-checkbox-label input:active ~ .skills-checkbox-background {
	background-color: white;
}

.skills-checkbox-label input:checked ~ .skills-checkbox-background {
	background-color: green;
}

.skills-checkbox-background {
	position: absolute;
	height: $checkbox-height;
	width: $checkbox-width;
	border-style: solid;
	border-width: $checkbox-border-width;
	background-color: white;
	border-color: black;
}

.skills-checkbox-background:after {
	content: "";
	position: absolute;
	display: none;
}

.skills-checkbox-label input:checked ~ .skills-checkbox-background:after {
	display: block;
}

.skills-checkbox-label .skills-checkbox-background:after {
	left: ($checkbox-total-width - $checkmark-total-width) / 2;
	bottom: $checkbox-total-height / 2;
	width: $checkmark-width;
	height: $checkmark-height;
	border: solid white;
	border-width: 0 $checkmark-thickness $checkmark-thickness 0;
	transform: rotate(45deg);
}



.input-checkbox {
	visibility: hidden;
	position: absolute;
	left: 0px;
	height: 25px;
	width: 25px;
	margin: 0px;
}

.input-checkbox-label {
	display: block;
	position: relative;
	cursor: pointer;
	height: 25px;
	width: max-content;
	padding-left: 25px;
	margin: 1px;
}

.input-checkbox-label:hover input ~ .input-checkbox-background {
	background-color: gray;
}

.input-checkbox-label input:active ~ .input-checkbox-background {
	background-color: white;
}

.input-checkbox-label input:checked ~ .input-checkbox-background {
	background-color: green;
}

.input-checkbox-background {
	position: absolute;
	top: -1px;
	left: -1px;
	height: 25px;
	width: 25px;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	border-color: black;
}

.input-checkbox-background:after {
	content: "";
	position: absolute;
	display: none;
}

.input-checkbox-label input:checked ~ .input-checkbox-background:after {
	display: block;
}

.input-checkbox-label .input-checkbox-background:after {
	left: 8px;
	bottom: 5px;
	width: 6px;
	height: 12px;
	border: solid white;
	border-width: 0 4px 4px 0;
	transform: rotate(45deg);
}

.source-selector {
	background-color: white;
}

.source-option {
	background-color: gray;
}

.preset-selector {
	background-color: white;
	float: right;
}

.preset-option {
	background-color: white:
}
