header {
  background-color: cornsilk;
  font-family: Stencil;
  font-size: 32px;
  font-weight: bold;
  color: #ffd400;
  text-align: center;
  word-spacing: 8px;
  margin-top: -21px; }

body {
  --checkbox-height: 25px;
  --checkbox-text-offset: 5px;
  --checkmark-length: 12px;
  --checkmark-width: 6px;
  --checkmark-thickness: 4px;
  --checkmark-height: calc(var(--checkmark-length) + var(--checkmark-thickness));
  --checkmark-margin-top: calc((var(--checkbox-height) - var(--checkmark-thickness) - var(--checkmark-height)) / 2);
  --checkmark-margin-bottom: calc(var(--checkmark-margin-top) + var(--checkmark-thickness));
  background-color: antiquewhite;
  margin: 0px;
  font-family: Georgia, Times, serif; }

.checkbox-label {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  text-align: start;
  padding-top: var(--checkbox-text-offset); }

.checkbox {
  display: inline-block;
  flex-shrink: 0;
  width: var(--checkbox-height);
  height: var(--checkbox-height);
  background-color: lemonchiffon;
  border: 1px solid black;
  border-radius: 3px;
  margin-top: calc(-1 * var(--checkbox-text-offset)); }

.checkmark {
  display: block;
  margin: var(--checkmark-margin-top) auto var(--checkmark-margin-bottom);
  width: var(--checkmark-width);
  height: var(--checkmark-length);
  border: solid black;
  border-width: 0 var(--checkmark-thickness) var(--checkmark-thickness) 0;
  transform: rotate(45deg); }

footer {
  background: black; }

.input-header {
  color: blue; }

.input-label {
  color: brown;
  float: left; }

.input-grid {
  display: grid;
  grid-template-columns: 1fr repeat(4, minmax(50px, 0.40451fr)); }

.toggle-button {
  background-color: white; }

.toggled-button {
  background-color: wheat; }

.editor-tab {
  float: left; }

.editor-tab-active {
  float: left;
  background-color: burlywood; }

.editor {
  background-color: red;
  grid-column: 1;
  grid-row: 1/span 4; }

.data-table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse; }

.data-table th {
  border: 1px solid black; }

.data-table td {
  border: 1px solid black; }

.top-row {
  grid-row: 1;
  grid-column: 2/span 5; }

.skills {
  grid-row: 2;
  grid-column: 2;
  text-align: center; }

.products {
  grid-row: 2;
  grid-column: 3; }

.sources {
  grid-row: 2;
  grid-column: 4; }

.replant {
  grid-row: 2;
  grid-column: 5; }

.date {
  grid-row: 3;
  grid-column: 2/span 5; }

.bottom-row {
  grid-row: 4;
  grid-column: 2/span 5; }

.entry-checkbox {
  visibility: hidden;
  position: absolute;
  left: 1px;
  top: 1px;
  height: 25px;
  width: 25px;
  margin: 0px; }

.entry-checkbox-label {
  display: block;
  position: relative;
  cursor: pointer;
  height: 27px;
  width: 27px;
  margin: auto; }

.entry-checkbox-label:hover input ~ .entry-checkbox-background {
  background-color: gray; }

.entry-checkbox-label input:active ~ .entry-checkbox-background {
  background-color: white; }

.entry-checkbox-label input:checked ~ .entry-checkbox-background {
  background-color: green; }

.entry-checkbox-background {
  position: absolute;
  height: 25px;
  width: 25px;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  border-color: black; }

.entry-checkbox-background:after {
  content: "";
  position: absolute;
  display: none; }

.entry-checkbox-label input:checked ~ .entry-checkbox-background:after {
  display: block; }

.entry-checkbox-label .entry-checkbox-background:after {
  left: 8px;
  bottom: 5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg); }

.skills-checkbox {
  visibility: hidden;
  position: absolute;
  height: 27px;
  width: 52px;
  margin: 0px;
  left: 0px;
  top: 0px; }

.skills-checkbox-label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 27px;
  width: 52px;
  margin: auto; }

.skills-checkbox-label:hover input ~ .skills-checkbox-background {
  background-color: gray; }

.skills-checkbox-label input:active ~ .skills-checkbox-background {
  background-color: white; }

.skills-checkbox-label input:checked ~ .skills-checkbox-background {
  background-color: green; }

.skills-checkbox-background {
  position: absolute;
  height: 25px;
  width: 50px;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  border-color: black;
  left: 0px;
  top: 0px; }

.skills-checkbox-background:after {
  content: "";
  position: absolute;
  display: none; }

.skills-checkbox-label input:checked ~ .skills-checkbox-background:after {
  display: block; }

.skills-checkbox-label .skills-checkbox-background:after {
  left: 18.92893px;
  bottom: 13.5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg); }

.input-checkbox {
  visibility: hidden;
  position: absolute;
  left: 0px;
  height: 25px;
  width: 25px;
  margin: 0px; }

.input-checkbox-label {
  display: block;
  position: relative;
  cursor: pointer;
  height: 25px;
  width: auto;
  padding-left: 25px;
  margin: 1px; }

.input-checkbox-label:hover input:active ~ .input-checkbox-background {
  background-color: gray; }

.input-checkbox-label input:active ~ .input-checkbox-background {
  background-color: white; }

.input-checkbox-label input:checked ~ .input-checkbox-background {
  background-color: green; }

.input-checkbox-background {
  position: absolute;
  top: -1px;
  left: -1px;
  height: 25px;
  width: 25px;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  border-color: black; }

.input-checkbox-background:after {
  content: "";
  position: absolute;
  display: none; }

.input-checkbox-label input:checked ~ .input-checkbox-background:after {
  display: block; }

.input-checkbox-label .input-checkbox-background:after {
  left: 8px;
  bottom: 5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg); }

.source-selector {
  background-color: white; }

.source-option {
  background-color: gray; }

.number-input {
  float: left; }
