@page "/"
@inject NavigationManager Nav
@inject DateState  Date
@inject SkillsState  Skills
@inject SettingsState  Settings

<div class="input-grid">
	<div class="editor">
		<TabGroup TabClass="editor-tab" SelectedTabClass="editor-tab">
			<Tab Name="Crop">
				<table class="data-table">
					<tr>
						<th></th>
						<th>Image and Name</th>
						<th>Seed Price and Source</th>
					</tr>
					<tr>
						<td><label class="entry-checkbox-label"><input type="checkbox" class="entry-checkbox" checked><span class="entry-checkbox-background"></span></label></td>
						<td>Image and Name</td>
						<td>
							<select class="source-selector">
								<option value="Pierre" class="source-option">Pierre</option>
								<option value="Jojo" class="source-option">Jojo</option>
								<option value="Oasis" class="source-option">Oasis</option>
							</select>
						</td>
					</tr>
				</table>
			</Tab>
			<Tab Name="Fertilizer">
				<table class="data-table">
					<tr>
						<th></th>
						<th>Image and Name</th>
						<th>Price and Source</th>
					</tr>
					<tr>
						<td><label class="entry-checkbox-label"><input type="checkbox" class="entry-checkbox" checked><span class="entry-checkbox-background"></span></label></td>
						<td>Image and Name</td>
						<td>
							<select class="source-selector">
								<option value="Pierre" class="source-option">Pierre</option>
								<option value="Jojo" class="source-option">Jojo</option>
								<option value="Oasis" class="source-option">Oasis</option>
							</select>
							<label class="lock-checkbox-label"><input type="checkbox" class="lock-checkbox"><span class="lock-checkbox-background"></span></label>
						</td>
					</tr>
				</table>
			</Tab>
		</TabGroup>
	</div>

	<!-- right side -->
	<div class="top-row">
		<button class="switch-calc-mode">
			Greenhouse Mode
		</button>
	</div>
	<div class="skills">
		<span class="input-header">Skills</span>
		<br>
		<label for="farming-lvl" class="input-label">Farming Level:</label>
		<input type="number" class="number-input" min="0" max="10" id="farming-lvl" @bind=Skills.FarmLvl>
		<br>
		<label class="skills-checkbox-label"><input type="checkbox" class="skills-checkbox" @bind=Skills.Tiller.Enabled><span class="skills-checkbox-background"></span></label>
		<br>
		<label class="skills-checkbox-label"><input type="checkbox" class="skills-checkbox" @bind=Skills.Agriculturist.Enabled><span class="skills-checkbox-background"></span></label>
		<label class="skills-checkbox-label"><input type="checkbox" class="skills-checkbox" @bind=Skills.Artisan.Enabled><span class="skills-checkbox-background"></span></label>
	</div>
	<div class="products">
		<span class="input-header">Sell</span>
		<label class="input-checkbox-label">Raw Crop<input type="checkbox" class="input-checkbox"><span class="input-checkbox-background"></span></label>
		<label class="input-checkbox-label">Preserves Jar<input type="checkbox" class="input-checkbox"><span class="input-checkbox-background"></span></label>
		<label class="input-checkbox-label">Keg<input type="checkbox" class="input-checkbox"><span class="input-checkbox-background"></span></label>
		<label class="input-checkbox-label">Oil Maker<input type="checkbox" class="input-checkbox"><span class="input-checkbox-background"></span></label>
		<label class="input-checkbox-label">Mill<input type="checkbox" class="input-checkbox"><span class="input-checkbox-background"></span></label>
	</div>
	<div class="sources">
		<span class="input-header">Sources</span>
		<label class="input-checkbox-label">Pierre<input type="checkbox" class="input-checkbox"><span class="input-checkbox-background"></span></label>
		<label class="input-checkbox-label">Jojo<input type="checkbox" class="input-checkbox"><span class="input-checkbox-background"></span></label>
		<label class="input-checkbox-label">Oasis<input type="checkbox" class="input-checkbox"><span class="input-checkbox-background"></span></label>
		<label class="input-checkbox-label">Traveling Merchant<input type="checkbox" class="input-checkbox"><span class="input-checkbox-background"></span></label>
		<label class="input-checkbox-label">Crafting<input type="checkbox" class="input-checkbox"><span class="input-checkbox-background"></span></label>
	</div>
	<div class="replant">
		<span class="input-header">Replant</span>
		<label class="input-checkbox-label">Buy Seeds<input type="checkbox" class="input-checkbox"><span class="input-checkbox-background"></span></label>
		<label class="input-checkbox-label">Seed Maker<input type="checkbox" class="input-checkbox"><span class="input-checkbox-background"></span></label>
		<label class="input-checkbox-label">Replant Crop<input type="checkbox" class="input-checkbox"><span class="input-checkbox-background"></span></label>
	</div>
	<div class="non-greenhouse-settings">
		<label class="input-header">
			Start Date:
			<select class="season-selector" @bind=Date.StartSeason>
				@foreach (Season season in Enum.GetValues(typeof(Season)))
				{
					<option value=@((int)season)>@season</option>
				}
			</select>
			<input type="number" @bind=Date.StartDay>
		</label>
		<label class="input-header">
			End Date:
			<select class="season-selector" @bind=Date.EndSeason>
				@foreach (Season season in Enum.GetValues(typeof(Season)))
				{
					<option value=@((int)season)>@season</option>
				}
			</select>
			<input type="number" min="1" max="28" @bind=Date.EndDay>
		</label>
	</div>
	<div class="bottom-row">
		<button class="switch-input-output" @onclick="@(() => Nav.NavigateTo("output"))">
			Back to Plans
		</button>
		<!---
		<button class="calc-button" @onclick="Calc">
			Calculate New Plans
		</button>
		-->
		<button class="help-button" @onclick="@(() => Nav.NavigateTo("help"))">
			Help
		</button>
	</div>
</div>
