@inherits LayoutComponentBase

<header>
    <span class="page-title">
        Stardew Valley Maximize Profit
    </span>
</header>
<StateProvider>
        @Body
</StateProvider>
<footer>
    <a href="https://reddit.com" target="_blank"><i class=""></i>a</a>
</footer>
