@inherits LayoutComponentBase

<header>
    <span class="page-title">
        Stardew Valley Best Crop Plan Finder
    </span>
    <span class="page-subtitle">
         (quite a long name am I right?)
    </span>
</header>
<StateProvider>
        @Body
</StateProvider>
<footer>
    <a href="https://reddit.com" target="_blank"><i class=""></i>a</a>
</footer>
